body{
    background-image: url("https://media.istockphoto.com/id/1163985429/photo/group-of-schoolboys-and-schoolgirls-at-school-campus.jpg?s=1024x1024&w=is&k=20&c=PFTE79VmLQhc9JKFYZT5Ji_flbqFqL91BeDdVHXyBYc=") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}