<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row text-center" ><h1>Student Management System</h1>
            <div class="col-lg-3 border mt-5" >
                <form action="/" method="post">
                <h4 class="mt-3">registration</h4><br>
                <input type="text" required class="form-control" placeholder="enter your name" name="username"><br>
                <input type="number" required class="form-control"max="100" min="0" type="number " placeholder="enter your age" name="age"><br>
                <textarea class="form-control" required placeholder="enter your address" id="" name="address"></textarea><br>
                <select class="form-select" aria-label="Default select example" name="course">
                    
                    <option value="python">python</option>
                    <option value="tally">Tally</option>
                    <option value="java">java</option>
                  </select><br>
                  <input type="text" required class="form-control" placeholder="enter course duration" name="duration"><br>
                <button type="sumbit" class="btn btn-secondary mb-5" >Submit</button><br>
            </form>

            </div>
            <div class="col mt-5 ms-3">
                <table class="table table-success table-striped">
                    
                        <tr>
                            <th>sno</th>
                            <th>name</th>
                            <th>age</th>
                            <th>address</th>
                            <th>course</th>
                            <th>duration</th>
                            <th>action</th>
                        </tr>
                        {%for stud in student%}
                    
                    
                        <tr>
                            <td>{{stud.sno}}</td>
                            <td>{{stud.name}}</td>
                            <td>{{stud.age}}</td>
                            <td>{{stud.address}}</td>
                            <td>{{stud.course}}</td>
                            <td>{{stud.duration}}</td>
                            <td>
                                <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{stud.sno}}">
                                        <i class="fa-regular fa-pen-to-square"></i> 
                                         </button>
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop{{stud.sno}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/update/{{stud.sno}}" method="post">
                                                <h4 class="mt-3">registration</h4><br>
                                                <input type="text" value="{{stud.name}}" class="form-control" placeholder="enter your name" name="username"><br>
                                                <input type="number" value="{{stud.age}}" class="form-control"max="100" min="0" type="number " placeholder="enter your age" name="age"><br>
                                                <textarea class="form-control" placeholder="enter your address" id="" name="address">{{stud.address}}</textarea><br>
                                                <select class="form-select" aria-label="Default select example" name="course">
                                                    
                                                    <option value="python">python</option>
                                                    <option value="tally">Tally</option>
                                                    <option value="java">java</option>
                                                  </select><br>
                                                  <input type="text" class="form-control" placeholder="enter course duration" name="duration" value="{{stud.duration}}"><br>
                                                
                                            
                                
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        </div></form>
                                    </div>
                                    </div>
                                </div>
                
        
                            
                            
                                <a href="/delete/{{stud.sno}}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    
                  </table>    
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/cef3749068.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        if(window.history.replaceState) {
            window.history.replaceState(null,null,window.location.href);
        }
    </script>
</body>
</html>